@model IEnumerable<crud_simples.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

<p>
    <a asp-action="Cadastrar" class="btn btn-default">Cadastrar</a>
</p>

<table class="table">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Editar" asp-route-id="@item.id">Editar</a>
                    <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@item.id">Deletar</a>
                </td>
            </tr>

        }
    </tbody>

</table>